#box {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#color {
  width: 450px;
  height: 200px;
  background-color: white;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  background-image: url(https://cdn.pixabay.com/photo/2024/02/26/09/17/synthetic-8597464_1280.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#btn {
  width: 350px;
  height: 50px;
  font-size: 27px;
  background: transparent;
  border-radius: 40px 0;
  font-style: italic;
}
